<div class="card">
    <div class="card-header pb-3">
        <div class="media align-items-center">


            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group mb-3 custome-search">
                        <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"
                                                                        aria-hidden="true"></i></span>
                        </div>
                        <input (keyup)="onSearch($event)" type="text" class="form-control" [(ngModel)]="searchText"
                               placeholder="Search"
                               aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="col-12 pt-3 text-center">
            <div *ngIf="dataArray.length<1" class="col-12 pt-3 text-center">
                <i *ngIf="gettingItem" class="fa fa-spinner fa-spin"></i>
                <ng-container *ngIf="!gettingItem">
                    <p class="text-muted">No data available to show</p>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="dataArray.length>0">
            <table class="table table-hover table-striped" style="width: 100%">
                <tbody>
                <tr>
                    <th><label>
                        <input id="checkAlBox" [checked]="allCheck" type="checkbox" (change)="checkAllBox()"/>
                    </label></th>
                    <th></th>
                    <th></th>
                    <td>
                        <button [disabled]="buttonFlag['Add'] || false"
                                (click)="addMultipleItem('Add')" class="btn btn-primary">
                            <i
                                    *ngIf="buttonFlag['Add'] || false" class="fa fa-spinner fa-spin"></i> Add
                        </button>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th><b>Image</b></th>
                    <th></th>
                    <th><b>Name</b></th>
                </tr>
                <tr *ngFor="let data of dataArray; let i = index;">
                    <td>
                        <label>
                            <input type="checkbox" [checked]="data.isChecked"
                                   (change)="checkSingleBox(i)"/>
                        </label>
                    </td>

                    <td>
                        <div class="itemImage px-2 mb-3">
                            <ng-container *ngIf="!data.preview">
                                <img src="../../../../assets/images/avatar-default.png" class=" " alt="user"/>
                            </ng-container>
                            <ng-container *ngIf="data.preview">
                                <img width="100px" height="100Px" class="mb-4" [src]="getImageUrl(data.preview)"
                                     alt="No results found">
                            </ng-container>

                        </div>
                    </td>
                    <td></td>

                    <td>
                    <td>{{data?.name}}</td>
                </tr>
                </tbody>
            </table>
        </ng-container>
        <app-pagination [totalItems]="totalItems" [pageSize]="10" (onPageChange)="pageChanged($event)">
        </app-pagination>
    </div>
</div>
